.empresa-container {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
  background-color: #f9fafb;
  min-height: 100vh;
  gap: 50px; /* espaço entre formulário e lista */
}

.empresa-form {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.empresa-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  width: 100%;
}

.empresa-form button {
  margin-top: 10px;
  padding: 12px;
  background-color: #268700;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
}

.empresa-form button:hover {
  background-color: #268700;
}

.mensagem {
  margin-top: 10px;
  text-align: center;
  font-weight: 500;
}

.voltar{
  color:#268700;
  text-decoration: none;
}

.empresa-list {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  max-width: 800px;
  width: 100%;
  overflow-x: auto;
}

.empresa-list table {
  width: 100%;
  border-collapse: collapse;
}

.empresa-list th, .empresa-list td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.empresa-list th {
  background-color: #f2f2f2;
}
